.blue {
  background-color: blue;
  width: 300px;
  height: 300px;
  display:inline-block;
}

div > div {
  background-color: red;
}
.vert {
  height: 300px;
  width: 20px;
  position: sticky;
  left: 30px;
}

.horiz {
  height: 20px;
  width: 300px;
  position: absolute;
  top: 30px;
}