body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

input[type="text"] {
    display: block; 
    margin-bottom: 10px; 
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    border: none;
    background-color: grey;
    color: white;
    cursor: pointer;
}