body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#searchForm {
  text-align: center;
  margin-top: 20px;
}

#searchInput {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
  font-size: 16px;
}

#searchButton {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  background-color: #4b4d4b;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #6a886a;
}

#contactsList {
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
  width: fit-content;
  margin: auto;
}

#contactsList li {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
}